// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img {
  margin-top: 20px;
}

img[alt="avatar"] {
  height: auto px;
  width: auto px;
  max-width: 300px;
}